<section *ngIf="empleado">
  <mat-card class="contenedor-card">
    <mat-card-header>
      <div mat-card-avatar class="avatar-card"></div>
      <mat-card-title>
        {{empleado.nombres}} {{empleado.apellidos}}
      </mat-card-title>
      <mat-card-subtitle>
        <p>
          <strong>Rol:</strong> {{empleado.rol}}
        </p>
        <p>
          <strong>Correo:</strong> {{empleado.correoElectronico}}
        </p>
        <p>
          <strong>C.C:</strong> {{empleado.cedula}}
        </p>
      </mat-card-subtitle>
    </mat-card-header>
    <!--    <img src="assets/online_cv.svg"-->
    <!--         class="img-fluid"-->
    <!--         width="50%"-->
    <!--         alt="img card">-->
    <mat-card-content>
      <section class="text-center">
        <h5>Informacion adicional</h5>
        <section>
          <p>
            <strong>Fecha nacimiento:</strong> {{(empleado?.fechaNacimiento | date) || 'Sin registrar'}}
          </p>

          <p>
            <strong>Esta vacunado:</strong> {{(empleado?.vacunado === false ? 'No vacunado' : 'Vacunado') || 'Sin registrar'}}
          </p>

          <p>
            <strong>Telefono movil:</strong> {{empleado?.telefonoMovil || 'Sin registrar'}}
          </p>
        </section>
      </section>
      <!--    DIRECCCION-->
      <section class="contenido-direcciones-vacunas">
        <h5>Dirección</h5>
        <section *ngIf="empleado.direcciones; else sinDirecciones">
          <app-direcciones [direcciones]="empleado.direcciones"></app-direcciones>
        </section>
        <ng-template #sinDirecciones>
          No se registro direcciones!
        </ng-template>
      </section>

      <!--    VACUNAS-->
      <section class="contenido-direcciones-vacunas">
        <h5>Vacunas</h5>
        <section *ngIf="empleado.vacunas; else sinVacunas">
          <app-vacunas [vacunas]="empleado.vacunas"></app-vacunas>
        </section>
        <ng-template #sinVacunas>
          No se registro vacunas!
        </ng-template>
      </section>
    </mat-card-content>
    <div class="row contenedor-btn">
      <div class="col-sm-4" [ngClass]="{
      'col-sm-12': !(usuarioLogeado?.rol === 'admin')
      }">
        <div class="d-grid gap-2">
          <button class="btn btn-success" (click)="editarEmpleado(empleado)" type="button">Editar</button>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="(usuarioLogeado?.rol === 'admin')">
        <div class="d-grid gap-2">
          <button class="btn btn-outline-danger"
                  [disabled]="(empleado.rol === 'admin')"
                  (click)="eliminarEmpleado(empleado.id)"
                  type="button">Eliminar</button>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="(usuarioLogeado?.rol === 'admin')">
        <div class="d-grid gap-2">
          <button class="btn btn-primary"
                  [disabled]="(empleado?.login)"
                  (click)="darDeAlta(empleado)"
                  type="button">Dar de alta</button>
        </div>
      </div>
    </div>
  </mat-card>
</section>
