p {
  margin: 0;
  font-size: 1rem;
}

.contenedor-card {
  margin: 1rem 1rem 1rem 1rem;
}

.contenedor-btn {
  margin: 2rem 2rem 2rem 2rem;
}

.avatar-card {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.contenido-card {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contenido-direcciones-vacunas {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
