<form [formGroup]="filtros">
  <div class="row">
    <div class="col-sm-4">
      <mat-form-field appearance="outline">
        <mat-label>Tipo vacuna</mat-label>
        <mat-select formControlName="tipoVacuna">
          <mat-option>Seleccione el tipo de vacuna</mat-option>
          <mat-option *ngFor="let vacuna of tipoVacunas" [value]="vacuna.value">
            {{vacuna.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline">
        <mat-label>Estado vacunado</mat-label>
        <mat-select formControlName="vacunado">
          <mat-option>Seleccione el estado</mat-option>
          <mat-option *ngFor="let valor of esVacunado" [value]="valor.value">
            {{valor.label}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-4">
      <mat-form-field appearance="outline">
        <mat-label>Seleccione las fechas</mat-label>
        <mat-date-range-input formGroupName="fechas" [rangePicker]="picker">
          <input matStartDate formControlName="fechaInicio" placeholder="Start date">
          <input matEndDate formControlName="fechaFin" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>

    </div>
  </div>

</form>
