<form [formGroup]="empleadoFormulario" (ngSubmit)="guardarEmpleado($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title> {{empleadoAEditar ? 'Editar empleado' : 'Empleado'}} </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Nombres</mat-label>
            <input placeholder="Nombres"
                   formControlName="nombres"
                   matInput
                   autocomplete="off"
                   type="text">
            <mat-hint>Ingrese los nombres.</mat-hint>
          </mat-form-field>
          <section class="margen-input-error">
            <div class="messages" *ngIf="esCampoNombresInvalido">
              <mat-error *ngIf="campoNombres?.hasError('required')">
                El campo Nombres es requerido
              </mat-error>
              <mat-error *ngIf="campoNombres?.hasError('minlength')">
                Debe tener minimo 3 caracteres
              </mat-error>
              <mat-error *ngIf="campoNombres?.hasError('maxlength')">
                Debe tener maximo 60 caracteres
              </mat-error>
              <mat-error *ngIf="campoNombres?.hasError('pattern')">
                No debe contener caracteres especiales ni numeros
              </mat-error>
            </div>
          </section>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input placeholder="Apellidos"
                   formControlName="apellidos"
                   matInput
                   autocomplete="off"
                   type="text">
            <mat-hint>Ingrese los apellidos.</mat-hint>
          </mat-form-field>
          <section class="margen-input-error">
            <div class="messages" *ngIf="esCampoApellidosInvalido">
              <mat-error *ngIf="campoApellidos?.hasError('required')">
                El campo Apellidos es requerido
              </mat-error>
              <mat-error *ngIf="campoApellidos?.hasError('minlength')">
                Debe tener minimo 3 caracteres
              </mat-error>
              <mat-error *ngIf="campoApellidos?.hasError('maxlength')">
                Debe tener maximo 60 caracteres
              </mat-error>
              <mat-error *ngIf="campoApellidos?.hasError('pattern')">
                No debe contener caracteres especiales ni numeros
              </mat-error>
            </div>
          </section>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Cedula</mat-label>
            <input placeholder="Cedula"
                   formControlName="cedula"
                   matInput
                   autocomplete="off"
                   type="text">
            <mat-hint>Ingrese el numero de cedula.</mat-hint>
          </mat-form-field>
          <section class="margen-input-error">
            <div class="messages" *ngIf="esCampoCedulaInvalido">
              <mat-error *ngIf="campoCedula?.hasError('required')">
                El campo Cedula es requerido
              </mat-error>
              <mat-error *ngIf="campoCedula?.hasError('minlength')">
                Debe tener minimo 10 caracteres
              </mat-error>
              <mat-error *ngIf="campoCedula?.hasError('maxlength')">
                Debe tener maximo 10 caracteres
              </mat-error>
              <mat-error *ngIf="campoCedula?.hasError('pattern')">
                Debe ser un numero
              </mat-error>
              <mat-error *ngIf="campoCedula?.hasError('usernameAlreadyExists')">
                Ya existe el empleado
              </mat-error>
            </div>
          </section>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Correo electronico</mat-label>
            <input placeholder="Correo electronico"
                   formControlName="correoElectronico"
                   matInput
                   autocomplete="off"
                   type="text">
            <mat-hint>Ingrese el correo electronico.</mat-hint>
          </mat-form-field>
          <section class="margen-input-error">
            <div class="messages" *ngIf="esCampoCorreoElectronicoInvalido">
              <mat-error *ngIf="campoCorreoElectronico?.hasError('required')">
                El campo Correo electronico es requerido
              </mat-error>
              <mat-error *ngIf="campoCorreoElectronico?.hasError('email')">
                No es un correo electronico valido
              </mat-error>
              <mat-error *ngIf="campoCorreoElectronico?.hasError('maxlength')">
                Debe tener maximo 30 caracteres
              </mat-error>
              <mat-error *ngIf="campoCorreoElectronico?.hasError('usernameAlreadyExists')">
                Ya existe el empleado
              </mat-error>
            </div>
          </section>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Fecha nacimiento</mat-label>
            <input matInput [matDatepicker]="picker1"
                   formControlName="fechaNacimiento"
                   (dateChange)="escuchaDatePickerFechaNacimiento()"
            >
            <mat-hint>Ingrese la fecha de nacimiento YYYY-MM-DD.</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
          <section class="margen-input-error">
            <div class="messages" *ngIf="esCampoFechaNacimientoInvalido">
              <mat-error *ngIf="campoFechaNacimiento?.hasError('matDatepickerParse')">
                La fecha es invalida
              </mat-error>
            </div>
          </section>
        </div>
        <div class="col-sm-6">
          <mat-form-field appearance="outline">
            <mat-label>Telefono movil</mat-label>
            <input placeholder="Telefono movil"
                   formControlName="telefonoMovil"
                   matInput
                   autocomplete="off"
                   type="text">
            <mat-hint>Ingrese el telefono movil.</mat-hint>
          </mat-form-field>
          <section class="margen-input-error">
            <div class="messages" *ngIf="esCampoTelefonoMovilInvalido">
              <mat-error *ngIf="campoTelefonoMovil?.hasError('minlength')">
                Debe tener minimo 7 caracteres
              </mat-error>
              <mat-error *ngIf="campoTelefonoMovil?.hasError('maxlength')">
                Debe tener maximo 10 caracteres
              </mat-error>
              <mat-error *ngIf="campoTelefonoMovil?.hasError('pattern')">
                Debe ser un numero de telefono
              </mat-error>
            </div>
          </section>
        </div>
        <div class="col-sm-6" style="margin: 1rem 0 1rem 0">
          <mat-slide-toggle
            formControlName="vacunado">
            Vacunado
          </mat-slide-toggle>
        </div>
      </div>
      <!--      Vacunas-->
      <section *ngIf="campoVacunado?.value">
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10 text-center">
              <span class="text-danger">Ingrese la informacion de su vacunacion</span>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <mat-accordion class="example-headers-align"
                       style="margin: 1rem 1rem 1rem 1rem">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Vacunas
              </mat-panel-title>
              <mat-panel-description>
                Registre su vacunacion
                <mat-icon>vaccines</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row" style="padding: 1rem 1rem 1rem 1rem">
              <div class="col-sm-4"></div>
              <div class="col-sm-4"></div>
              <div class="col-sm-4 text-end">
                <button mat-mini-fab
                        type="button"
                        color="primary"
                        aria-label="Example icon button with a menu icon"
                        (click)="agregarVacuna()">
                  <mat-icon>add</mat-icon>
                </button>
                Agregar Vacuna
              </div>
            </div>
            <div formArrayName="vacunas"
                 *ngFor="let item of campoVacunas.controls ; let j = index"
            >
              <div class="row" [formGroupName]="j" style="margin: 1rem 1rem 1rem 1rem">
                <div class="col-sm-12">
                  <div class="d-grid gap-2">
                    <button class="btn btn-danger btn-sm"
                            (click)="eliminarVacuna(j)"
                            type="button">
                      Eliminar vacuna
                    </button>
                  </div>
                </div>
                <div class="col-sm-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Tipo vacuna</mat-label>
                    <mat-select formControlName="tipoVacuna">
                      <mat-option *ngFor="let vacuna of tipoVacunas" [value]="vacuna.value">
                        {{vacuna.label}}
                      </mat-option>
                    </mat-select>
                    <mat-hint>Seleccione el tipo de vacuna.</mat-hint>
                  </mat-form-field>
                  <section class="margen-input-error">
                    <div class="messages" *ngIf="esCampoTipoVacunaInvalido(j)">
                      <mat-error *ngIf="campoTipoVacuna(j)?.hasError('required')">
                        El campo Tipo de vacuna es requerido
                      </mat-error>
                    </div>
                  </section>
                </div>
                <div class="col-sm-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Numero de dosis</mat-label>
                    <input placeholder="Nombre"
                           formControlName="numeroDosis"
                           matInput
                           autocomplete="off"
                           type="text">
                    <mat-hint>Ingrese el numero de dosis.</mat-hint>
                  </mat-form-field>
                  <section class="margen-input-error">
                    <div class="messages" *ngIf="esCampoNumeroDosisInvalido(j)">
                      <mat-error *ngIf="campoNumeroDosis(j)?.hasError('required')">
                        El campo Numero de dosis es requerido
                      </mat-error>
                    </div>
                  </section>
                </div>
                <div class="col-sm-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Fecha de vacunacion</mat-label>
                    <input matInput [matDatepicker]="picker1"
                           formControlName="fechaVacunacion"
                    >
                    <mat-hint>Ingrese la fecha de vacunacion YYYY-MM-DD.</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                  <section class="margen-input-error">
                    <div class="messages" *ngIf="esCampoFechaVacunacionInvalido(j)">
                      <mat-error *ngIf="campoFechaVacunacion(j)?.hasError('required')">
                        El campo Fecha de vacunacion es requerido
                      </mat-error>
                      <mat-error *ngIf="campoFechaVacunacion(j)?.hasError('matDatepickerParse')">
                        La fecha es invalida
                      </mat-error>
                    </div>
                  </section>
                </div>
              </div>
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </section>

      <!--      Direcciones-->
      <mat-accordion class="example-headers-align" multi style="margin: 1rem 1rem 1rem 1rem">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Direcciones
            </mat-panel-title>
            <mat-panel-description>
              Registre sus direcciones
              <mat-icon>map</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="row" style="padding: 1rem 1rem 1rem 1rem">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-end">
              <button mat-mini-fab
                      type="button"
                      color="primary"
                      aria-label="Example icon button with a menu icon"
                      (click)="agregarDireccion()">
                <mat-icon>add</mat-icon>
              </button>
              Agregar Direccion
            </div>
          </div>
          <div formArrayName="direcciones"
               *ngFor="let item of campoDirecciones.controls ; let i = index"
          >
            <div class="row" [formGroupName]="i" style="margin: 1rem 1rem 1rem 1rem">
              <div class="col-sm-12">
                <div class="d-grid gap-2">
                  <button class="btn btn-danger btn-sm"
                          (click)="eliminarDireccion(i)"
                          type="button">
                    Eliminar direccion
                  </button>
                </div>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Provincia</mat-label>
                  <input placeholder="Nombre"
                         formControlName="provincia"
                         matInput
                         autocomplete="off"
                         type="text">
                  <mat-hint>Ingrese la provincia.</mat-hint>
                </mat-form-field>
                <section class="margen-input-error">
                  <div class="messages" *ngIf="esCampoProvinciaInvalido(i)">
                    <mat-error *ngIf="campoProvincia(i)?.hasError('required')">
                      El campo Provincia es requerido
                    </mat-error>
                  </div>
                </section>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Ciudad</mat-label>
                  <input placeholder="Nombre"
                         formControlName="ciudad"
                         matInput
                         autocomplete="off"
                         type="text">
                  <mat-hint>Ingrese la ciudad.</mat-hint>
                </mat-form-field>
                <section class="margen-input-error">
                  <div class="messages" *ngIf="esCampoCiudadInvalido(i)">
                    <mat-error *ngIf="campoCiudad(i)?.hasError('required')">
                      El campo Ciudad es requerido
                    </mat-error>
                  </div>
                </section>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Calle principal</mat-label>
                  <input placeholder="Nombre"
                         formControlName="callePrincipal"
                         matInput
                         autocomplete="off"
                         type="text">
                  <mat-hint>Ingrese la calle principal.</mat-hint>
                </mat-form-field>
                <section class="margen-input-error">
                  <div class="messages" *ngIf="esCampoCallePrincipalInvalido(i)">
                    <mat-error *ngIf="campoCallePrincipal(i)?.hasError('required')">
                      El campo Calle principal es requerido
                    </mat-error>
                  </div>
                </section>
              </div>
              <div class="col-sm-6">
                <mat-form-field appearance="outline">
                  <mat-label>Calle secundaria</mat-label>
                  <input placeholder="Nombre"
                         formControlName="calleSecundaria"
                         matInput
                         autocomplete="off"
                         type="text">
                  <mat-hint>Ingrese la calle secundaria.</mat-hint>
                </mat-form-field>
                <section class="margen-input-error">
                  <!--              <div class="messages" *ngIf="esCampoNombresInvalido">-->
                  <!--                <mat-error *ngIf="campoNombres?.hasError('required')">-->
                  <!--                  Este campo es requerido-->
                  <!--                </mat-error>-->
                  <!--              </div>-->
                </section>
              </div>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
      <mat-card-actions>
        <div class="d-grid gap-2">
          <button class="btn btn-success" type="submit">
            {{empleadoAEditar ? 'Editar' : 'Guardar'}}
          </button>
          <button class="btn btn-danger" [hidden]="!empleadoAEditar" mat-dialog-close type="button">Cancelar</button>
        </div>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>


