.empleado--grid {
  display: flex;
  flex-direction: column;
}

// tablets
@media screen and  (min-width: 320px) and (max-width:479px){
  .empleado--grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}

// tablets
@media screen and  (min-width: 480px) and (max-width: 599px){
  .empleado--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media screen and  (min-width: 600px) and (max-width: 799px){
  .empleado--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media screen and  (min-width: 800px) and (max-width: 767px){
  .empleado--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media screen and  (min-width: 768px) and (max-width: 1023px){
  .empleado--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

// web
@media screen and  (min-width: 1024px) and (max-width: 1220px){
  .empleado--grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}

@media screen and  (min-width: 1221px) {
  .empleado--grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}

.detalle-empleado {
  position: fixed;
  top: 0;
  left: 50%;
  bottom: 0;
  right: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: all ease-out .5s;
  transform: translateX(100%);
  &.active{
    transform: translateX(0);
  }
}
